/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
#features{
    text-align: center;
}
body{
    background-color: whitesmoke;
}
blockquote{
	width: 500px;
	border: 1px solid black;
	padding: 15px;
    text-align: center;
    width: 100%;
}
.fa-facebook {
    display: inline-block;
    border-radius: 10px;
    background: #3B5998;
    color: white;
    block-size: 20px 20px;
  }
  
  .fa-twitter {
    display: inline-block;
    border-radius: 10px;
    background: #55ACEE;
    color: white;
    
  }
  .fa-instagram {
    display: inline-block;
    border-radius: 10px;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    
  }
  .fa-whatsapp {
    display: inline-block;
    border-radius: 10px;
    background: #33cc66;
    color: white;
    
  }
/* --------------------------------------
   Typography
   -------------------------------------- */

.panel img{
    width: 100%;
    height: 260px;
    margin: auto;
    margin-bottom: 20px;
    
}
.panel{
    height: 500px;
}


/* --------------------------------------
   Navbar
   -------------------------------------- */
   #spardha{
    height: 40px;
}
  #searchInput{
      width: 200px;
  }
  .navbar{
      background-color: thistle;
  }
  .navbar-brand{
      padding: 5px 15px;
  }
  

   
   
/* --------------------------------------
   Carousel
   -------------------------------------- */

/*
.slide h1,h2,h3,h4{
    text-emphasis:bold;
    color: wheat;
}
*/
/* --------------------------------------
   Global Styles
   -------------------------------------- */



/* --------------------------------------
   Media Queries
   -------------------------------------- */

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 400px) {
    #myCarousel{
        width: 100%;
        height: 140px;
        margin: auto;
        margin-top: 70px;
    
    }
    .item{
        width: 100%;
        
    }
    .hh2,.hh3,.hh4{
        font-size: 10px;
    }
    
 }
 @media only screen and (min-width: 400px) {
    #myCarousel{
        width: 100%;
        height: 200px;
        margin: auto;
        margin-top: 70px;
    
    }
    .item{
        width: 100%;
        
    }
    .hh2,.hh3,.hh4{
        font-size: 12px;
    }
    
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    #myCarousel{
        width: 100%;
        height: 290px;
        margin: auto;
        margin-top: 70px;
    
    }
    .item img{
        width: 100%;
        
    }
    .hh2,.hh3,.hh4{
        font-size: 15px;
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    #myCarousel{
        width: 100%;
        height: 350px;
        margin: auto;
        margin-top: 120px;
    
    }
    .item img{
        width: 100%;
    
    }
    .hh2,.hh3,.hh4{
        font-size: 15px;
    }
    
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    #myCarousel{
        width: 100%;
        height: 450px;
        margin: auto;
        margin-top: 70px;
    
    }
    .item img{
        width: 100%;
    
    }
    .hh2,.hh3,.hh4{
        font-size: 20px;
    }
    
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    #myCarousel{
        width: 100%;
        height: 550px;
        margin: auto;
        margin-top: 70px;
    
    }
    .item img{
        width: 100%;

    }
    .hh2,.hh3,.hh4{
        font-size: 25px;
    }
    
 } 

#bigCallout{
    margin-top: 30px;
    
}
.well{
    background-color: aliceblue;
}
footer{
    background-color:thistle;
}