/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */

body{
    background-color: wheat;
}

/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */
   #spardha{
    height: 40px;
}
  #searchInput{
      width: 200px;
  }
  .navbar{
      background-color: thistle;
  }
  .navbar-brand{
      padding: 5px 15px;
  }
  

   
   
/* --------------------------------------
   Carousel
   -------------------------------------- */
#myCarousel{
    width: 80%;
    height: 450px;
    margin: auto;
    margin-top: 50px;

}
.image img{
    width: 100%;
    height:720px;
}
#slide1 h1,h2,h3,h4{
    text-emphasis:bold;
    color: wheat;
}

/* --------------------------------------
   Global Styles
   -------------------------------------- */
.images img
{
    width: 100%;
    height:600px;
}


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	#myCarousel{
        width: 80%;
        height: 180px;
        margin: auto;
        margin-top: 50px;
    
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	#myCarousel{
        width: 80%;
        height: 180px;
        margin: auto;
        margin-top: 50px;
    
    }
}

/* Large desktop */
@media (min-width: 1200px) {
	
