/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
#features{
    text-align: center;
}
body{
    background-color: whitesmoke;
}
blockquote{
	width: 500px;
	border: 1px solid black;
	padding: 15px;
    text-align: center;
    width: 100%;
}
.fa-facebook {
    display: inline-block;
    border-radius: 10px;
    background: #3B5998;
    color: white;
    block-size: 20px 20px;
  }
  
  .fa-twitter {
    display: inline-block;
    border-radius: 10px;
    background: #55ACEE;
    color: white;
    
  }
  .fa-instagram {
    display: inline-block;
    border-radius: 10px;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    
  }
  .fa-whatsapp {
    display: inline-block;
    border-radius: 10px;
    background: #33cc66;
    color: white;
    
  }
/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */
   #spardha{
    height: 40px;
}
  #searchInput{
      width: 200px;
  }
  .navbar{
      background-color: thistle;
  }
  .navbar-brand{
      padding: 5px 15px;
  }
  

   
   
/* --------------------------------------
   Carousel
   -------------------------------------- */
#myCarousel{
    width: 80%;
    height: 450px;
    margin: auto;
    margin-top: 50px;

}
.image img{
    width: 100%;
    height:720px;
}
/*
.slide h1,h2,h3,h4{
    text-emphasis:bold;
    color: wheat;
}
*/
/* --------------------------------------
   Global Styles
   -------------------------------------- */
.images img
{
    width: 100%;
    height:600px;
}


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	#myCarousel{
        width: 80%;
        height: 180px;
        margin: auto;
        margin-top: 50px;
    
    }
    
    .carousel-caption h1,h2,h3,h4,h5{
        font-size: 12px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	#myCarousel{
        width: 80%;
        height: 180px;
        margin: auto;
        margin-top: 50px;
    
    }
    ..carousel-caption h1,h2,h3,h4,h5{
        font-size: 15px;
    }
}
}

/* Large desktop */
@media (min-width: 1200px) {
	
}

#bigCallout{
    margin-top: 30px;
    
}
.well{
    background-color: aliceblue;
}
footer{
    background-color:thistle;
}